mixin customer(name, company, phone, email, country, status)
    tr.table__row
      td.table__data #{name}
      td.table__data #{company}
      td.table__data #{phone}
      td.table__data #{email}
      td.table__data #{country}
      td.table__data
        span.table__status.active #{status}

mixin pagination(page)
  li.pagination__item
    a.pagination__link(href=`?page=${page}` class=(currentPage === page ? 'active-page' : '')) #{page}

mixin pagination(page)
  li.pagination__item
    a.pagination__link(href="#") #{page}